@media screen and (min-width: 577px) {
    .plans-section .btn {
        width: 24%;
    }

    .plans-section .plan {
        width: 280px;
    }
}

@media screen and (min-width: 768px) {
    .plans-section .plan {
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    .plans-section .meals {
        font-size: 24px;
    }

    .plans-section .btn {
        width: 15%;
    }

    .plans-section .plan {
        width: 210px;
    }
}

@media screen and (min-width: 1200px) {
    .plans-section .btn {
        width: 11%;
    }

    .plans-section .btn:hover {
        width: 28%;   
    }

    .plans-section .plan {
        width: 254px;
    }
}